<% provide(:title, "Edit Profile") %>
<div class="container">
  <h1>Update Profile: <%= @user.name %></h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, :html => { :multipart => true }) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>

        <%= f.label :bio, "Biography" %>
        <%= f.text_field :bio, class: 'form-control' %>

        <%= f.label :dob, 'Date of Birth' %>
        <%= f.text_field :dob, class: 'form-control' %>

        <%= f.label :location %>
        <%= f.text_field :location, class: 'form-control' %>

        <%= f.label :image %>
        <%= f.file_field :image, class: 'form-control' %>


        <BR/>
        <h3>Change Password</h3>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%=f.submit "Save changes", class: "btn btn-primary" %>

      <% end %>
      <div class="delete-account">
        <%= button_to 'Delete account', @user, :method => 'delete', :data => { :confirm => 'Much dissapoint. Many sad. Are you sure you want to delete your account?' }%>

      </div>
    </div>
  </div>

</div>
