<h1><%= @user.name %></h1>

  <ul>
    <% if @user.bio.present? %>
      <li><%= @user.bio %></li>
    <% end %>
    <% if @user.dob.present? %>
      <li>Born <%= @user.dob.strftime "%B %-d, %Y"%></li>
    <% end %>
    <% if @user.location.present? %>
    <li>Currently <%= @user.location %></li>
    <% end %>
  </ul>

<% if @user.image.present? %>
<%= image_tag @user.image, :alt => @user.name, :class => 'profile-large'%>
<% end %>

<% unless @user.woofs.empty? %>
<h2>Woofs</h2>
<ul>
  <% @user.woofs.each do |woof| %>
  <li>
    <%= woof.status %> <BR/>
    <%= time_ago_in_words(woof.created_at)  %>
  </li>
  <% end %>
</ul>
<% end %>

<div class="controls">
  <%= link_to 'Edit Profile', edit_user_path(@current_user)%>
  <%= button_to 'Delete account', @user, :method => 'delete', :data => { :confirm => 'Are you sure?' }%>
</div>
