<% provide(:title, @title) %>

<div class="container">
  <aside class="user-sidebar">
      <section class="user_info">
      <% if @user.image.present?%>
      <div class="circle-img">
        <%= image_tag @user.image, :alt => @user.name%>
      </div>
      <% end %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Woofs:</b> <%= @user.woofs.count %></span>
    </section>
    <section class="stats">
  </aside>

  <main class="main-feed">

      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </main>
</div>
