<% @user ||= @current_user %>
<div class="stats">
  <div id="woof-stats" class="stat">
  <a href="#woofs-feed">
    <strong >
      <%= @user.woofs.count %>
    </strong><BR/>
    woofs
  </a>
  </div>
  <div id="following-stats" class="stat">
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong><BR/>
    following
  </a>
  </div>
  <div id="followers-stats" class="stat">
    <a href="<%= followers_user_path(@user) %>">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong><BR/>
      followers
    </a>
  </div>
</div>
