<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
      <%= link_to 'Home', root_path %>
      <% if @current_user.present? %>
        <li><%= link_to "Sign out #{ @current_user.email }", login_path, :method => 'delete' %></li>
      <% else %>
      <li><%= link_to 'Sign up', new_user_path %></li>
      <li><%= link_to 'Sign in', login_path %></li>
      <% end %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
